*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background: url('./multi/pexels-jorge-cachambi-311819836-13558679.jpg') no-repeat center center fixed;
 background-size: cover;
}
main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}