*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827 ;
    color: white;
    height: 17.5vh;
    width: 100%;
}
.titulo1{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.img1{
    width: 30px;
    height: 35px;
}
nav{
    gap: 5px;
    padding: 15px;
}
main{
    height: 65vh;
}
footer{
    height: 17.5vh;
    background-color: #111827 ;
    
}