*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-color: #111827 rgb(255, 255, 255);
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827 ;
    color: white;
    height: 17.5vh;
    width: 100%;
}

.titulo1{
    display: flex;
justify-content: center;
gap: 1rem;
padding: 20px;

}
.img1{
    width: 30px;
    height: 35px;
}
nav{
padding: 20px;
}
.aventas::after{
display: none;
}
.salir{
    width: 20px;
    height: 20px;
}

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.5vh;
    background-color: #111827 ;
    
}
a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    color: #e1e1e1;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;

    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
a:focus,
a:hover {
    color: #03c2e4;
}
a:focus:after,
a:hover:after {
width: 100%;
left: 0%;
}
a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
/*main*/

.clock {
    margin: 4px;
    display: flex;
    align-items:end;
    justify-content: center;
    width: 20%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 100%;


}
.parte1{

    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 1rem;

}
.botonera1{
    padding-top: 20px;
}
.tx1{
    font-size: 35px;
    letter-spacing: 1px;
    font-family: "Prata", serif;
}
.parte2{
object-fit: contain;
    width: 50%;   
}
.button1 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button1::before,
.button1::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button1::before {
    top: 0;
    border-bottom-width: 0;
}

.button1::after {
    bottom: 0;
    border-top-width: 0;  }

.button:active,
.button:focus {
    outline: none;
}

.button1:active::before,
.button1:active::after {
    right: 3px;
    left: 3px;
}

.button1:active::before {
    top: 3px;
}

.button1:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}
.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button1:hover {
    color: #0f1923;
}
.button1:hover .button_sl {
    width: calc(100% + 15px);
}

.button1:hover .button_lg::after {
    background-color: #fff;
}

.img2{
    padding: 20px;
    object-fit:cover;
width: 100%;
height:20rem;
border-radius: 40px;
}
/*parte 2*/
.parte20{
    width: 100%;
    gap: 0.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.globo{
    padding: 3px;
    background-color: rgb(194, 180, 180);
    border-radius: 2px;
    
}
/*parte21*/
.tarjetas{
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}
.tarjeta{
    width: 25%;
    height: 15rem;
    border: 1px solid black;
    padding: 5px;
  background-color: #7d808248;
  border-radius: 5%;
  text-align: center;
}
.imgtar{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: no-repeat center center fixed;
}
/*parte 3*/
.parte3{
    background-color: rgba(128, 128, 128, 0.705);
    width: 100%;
    gap: 0.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parte4{
    width: 100%;
    gap: 0.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjetero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.card {
    background-color: rgba(243, 244, 246, 1);
    padding: 2rem;
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}
.card:hover{
    box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.75);
    transition: 0.5s;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
}
.header .image {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    object-fit:contain;

}
.stars {
    display: flex;
    justify-content: center;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgba(34, 197, 94, 1);
}
.stars svg {
    height: 1rem;
    width: 1rem;
}

.name {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, 1);
  }
  
  .message {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
  }
/*footer*/
footer{
    display: flex;
    color: white;
    padding: 4px;
}
.ftcon1{
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.plane1{
    width: 30px;
}
.ftarr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
padding: 4px;
}
/*prueba*/
.card1 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
.card1:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    color: #fff;
    display: flex;
    align-items: center; 
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}
.card-back {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}
/*gerente*/
.maingere{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#vendedorForm{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
header h2{
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
}

.button-group .reset-button {
    text-align: center;
    background-color: #dc3545;
    color: #fff;
}

.button-group .submit-button {
    background-color: #28a745;
    color: #fff;
}

.button-group button:hover {
    opacity: 0.9;
}
/*ventas*/
.mainventas{
gap: 2rem;
margin-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
}

.button-group .reset-button {
    background-color: #dc3545;
    color: #fff;
}

.button-group .submit-button {
    background-color: #28a745;
    color: #fff;
}

.button-group button:hover {
    opacity: 0.9;
}
/*ventas*/
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.submit-btn {
    background-color: #4CAF50;
}
.reset-btn {
    background-color: #f44336;
}
button:hover {
    opacity: 0.9;
}
/*paquetes*/
.mainpaque{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 15px;
}
.paquetera{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.paquete{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.paquete img{
    width: 100%;
    height: auto;
}
.paquete2{
    padding: 20px;
}
.paquete2 h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}
.paquete2 p {
    margin: 0 0 20px;
    color: #555;
}
.paquete2 a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.paquete2 a:hover {
    background-color: #45a049;
}
